.button {
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 8px 10px;
    text-decoration: none;
    display: flex;
    outline: none;
    transition: .2s ease-in-out;

    &.primary {
        background-color: #4285f4;
        color: #ffffff;
        
        &:hover {
            background-color: #3278eb;
        }
    }
}